/* ----
==========================
     Media Queries
==========================
---- */

@media screen and (min-width: 1024px) {

    body {
        padding-top: 200px;
    }

    .banner {
        padding: 0 30px;
    }

    .portfolio {
        margin: 0 30px;
    }

    .col {
        width: 33.333%;
    }

    .main-header {
       position: fixed;
       background: #fff;
       box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
       width: 100%;
       top: 0;
       z-index: 1;
    }

    .name {
        float: left;
        padding-left: 32px;
    }

    .main-nav {
        float: right;
        padding-right: 0px;
    }

    .main-nav li {
        float: left;
    }

}
