.banner {
    @extend %centered;
    @extend %clearfix;
    @media #{$break-narrow} {
      margin-bottom: 50px;
    }
    @media #{$break-wide} {
      padding: 0 30px;
    }
}

.banner-tagline {
  @media #{$break-narrow} {
    float: left;
    width: 60%;
    text-align: left;
    @include text($size: 1.25rem);
    padding: 0 16px 0 0;
    margin-top: -15px;
  }
}

.banner-tagline,
.contact-tagline {
    @include text($l-height: 1.5em);
    padding: 15px;
    color: $color-text-tagline;
}

.profile-img {
    @include img(70%);
    @media #{$break-narrow} {
      float: right;
      @include img(40%);
    }
}
