.main-contact {
    @extend %centered;
    padding: 1em;
}

.contact-links li {
    padding-bottom: 15px;

     & a {
        padding-left: 15px;
        font-weight: 900;
    }
}

@media #{$break-narrow} {
  .contact-tagline {
      padding: 25px 125px;
  }
}
