.footer {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 20px;
    &-name {
        @include text(900);
        float: left;
    }
    &-nav {
        display: none;
    }
    @extend %clearfix;
    // Media Queries for .footer
    @media #{$break-narrow} {
      &-name,
      &-nav {
          margin-top: 20px;
          padding-right: 0px;
          padding-left: 0px;
      }
      &-nav {
          display: inline-block;
          float: right;
          @include text(900, uppercase);
      }
      &-nav li {
        float: left;
        padding-right: 1em;
      }
      &-nav li:last-child {
        padding-right: 0;
      }
      & {margin-bottom: 30px;}
    }
}

.mobile-nav {
    padding-top: 20px;
    float: right;
    @include text($weight: 900);
    @media #{$break-narrow} {
      display: none;
    }
}
