.footer {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 20px;
}

.footer-name {
    font-weight: 900;
    float: left;
}

.footer-nav {
    display: none;
}

.mobile-nav {
    padding-top: 20px;
    float: right;
    font-weight: 900;
}
