.footer {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 20px;
    &-name {
        font-weight: 900;
        float: left;
    }
    &-nav {
        display: none;
    }
    @extend %clearfix;
}

.mobile-nav {
    padding-top: 20px;
    float: right;
    font-weight: 900;
}
