.main-header {
    margin-bottom: 20px;
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    padding: 15px;
}

.main-nav {
  @extend %centered;
    & li {
    background-color: #fff;
    font-weight: 900;
    margin: 5px 15px;
    text-transform: uppercase;
    @media #{$break-narrow} {
      display: inline-block;
      background-color: transparent;
    }
  }
}
