.main-header {
    margin-bottom: 20px;
}

.name {
    @media #{$break-narrow} {
      padding-top: 10px;
    }
    & a {
    display: block;
    text-align: center;
    }
}

.main-nav {
  @extend %centered;
    & li {
    background-color: $white;
    font-weight: 900;
    margin: 5px 15px;
    text-transform: uppercase;
    @media #{$break-narrow} {
      display: inline-block;
      background-color: transparent;
    }
  }
  & a {
    @extend %centered;
    padding: 15px;
    display: block;
  }
}
