.main-header {
    @extend %clearfix;
    margin-bottom: 20px;
    @media #{$break-wide} {
      position: fixed;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
      width: 100%;
      top: 0;
      z-index: 1;
    }
}

.name {
    @media #{$break-narrow} {
      padding-top: 10px;
    }
    & a {
      display: block;
      @extend %centered;
    }
    @media #{$break-wide} {
      float: left;
      padding-left: 32px;
    }
}

.main-nav {
  @extend %centered;
  & li {
    background-color: $white;
    margin: 5px 15px;
    @include text($weight: 900, $transform: uppercase);
      @media #{$break-narrow} {
        display: inline-block;
        background-color: transparent;
      }
      @media #{$break-wide} {
        float: left;
      }
  }
  & a {
    @extend %centered;
    padding: 15px;
    display: block;
  }
  @media #{$break-wide} {
    float: right;
    padding-right: 0;
  }
}
