.section-heading {
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    color: #787878;
}

.portfolio {
    @extend %centered;
    background-color: #fff;
    padding-bottom: 50px;
    &-description {
        line-height: 1.5em;
        margin-top: 0px;
        padding: 16px;
        color: #808080;
    }
}



.col {
    padding: 1em;
}
