.section-heading {
    padding-top: 40px;
    padding-bottom: 20px;
    @include text($size: 1em, $weight: 900, $color: $color-text-heading);
}

.portfolio {
    @extend %centered;
    background-color: $white;
    padding-bottom: 50px;
    &-description {
        @include text($l-height: 1.5em, $color: $color-text-paragraph);
        margin-top: 0px;
        padding: 16px;
    }
    @media #{$break-wide} {
      margin: 0 30px;
    }
}

.col {
    padding: 1em;
    @media #{$break-narrow} {
      float: left;
      width: 50%;
      height: 400px;
    }
    @media #{$break-wide} {
      width: 33.333%;
    }
}

.container {
  @extend %clearfix;
  @media #{$break-narrow} {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
  }
  @media #{$break-wide} {
    max-width: 1150px;
  }
}
