/* ----
==========================
      Base Styles
==========================
---- */

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    color: $gray-light;
}

p,
li,
span {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: $color-link-default;
}

ul {
    list-style: none;
    padding-left: 0px;
}

body {
    background-color: $color-body-background;
}


img {
    @include img(100%);
}
