// Descriptive color variables

$white          : #fff;
$black          : #000;
$gray-light     : #999;

// Functional color variables

$color-link-default    : #484848;
$color-body-background : #f8f8f8;
$color-text-tagline    : #989898;
$color-text-heading    : #787878;
$color-text-paragraph  : #808080;

// Media query breakpoints

$break-narrow : '(min-width: 768px)';
$break-wide   : '(min-width: 1024px)';
